{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Home</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <h1>Home</h1>
{% endblock %}
</body>
</html>