{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Logout</h1>
        <p>You are loggged out</p>
    </div>
{% endblock %}
