{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
    <div class="container">
        <p>Username: <b>{{ user }}</b></p>
        <p>Full name: <b>{{ user.first_name }} {{ user.last_name }}</b></p>
        <p>Email: <b>{{ user.email }}</b></p>
    </div>
{% endblock %}
