<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block head %}
    <meta charset="UTF-8">
    <title>Base</title>
    {% endblock %}
</head>
<body>
    <br/>
    <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">SN</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/account">Home</a> </li>
                  <li><a href="/account/logout">Logout</a> </li>
                  <li><a href="/account/profile">Profile</a> </li>
                  <li><a href="/account/profile/edit">Edit Profile</a> </li>
                  <li><a href="/account/change-password">Change password</a> </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-left">
                  <li><a href="/account">Home</a> </li>
                  <li><a href="/account/reset-password">Reset password</a> </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
              <li><a href="/account/login">Login</a> </li>
                <li><a href="/account/register">Register</a></li>
              </ul>
                {% endif %}
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div>
{% block body %}
{% endblock %}
</body>
</html>